[Unit]
Description=Desktop alert warning of low remaining battery

[Service]
Type=oneshot
ExecStart=/home/vaibhav/scripts/battery-alert.sh

[Install]
WantedBy=graphical.target
